{block head}
	<style type="text/css">
		form th label { font-weight: normal }
		form th label.required { font-weight: bold }
	</style>
{/block}

{block content}

<h1 n:block="title">Osobní údaje</h1>

<p>K naší práci potřebujeme doplnit několik Vašich osobních údajů, které nám urychlí proces vyšetřování.</p>
<p><b>Údaje se týkají vyšetřované osoby!</b></p>

{control userForm}
{/block}