{block content}

	<h1 n:block="title">Žádost o prohlídku</h1>

	<p>Pokud si zaregistrijte žádost o prohlídku a uvolní se termín dle Vašich propozic, bude Vám odeslánna naší adresu odeslán email. Tím se Vaše žádost deaktivuje a budete jí muset znovu obnovit.</p>
	<p>Vaše žádost automaticky smaže po uplynutí zadané doby nebo pokud si zarezervujete termín. </p>

	{control visitRequestForm}

	<p class="center" n:if="$visitRequest">🗙 <a n:href="deleteVisitRequest">Zrušit žádost</a></p>
{/block}