{block content}

	<h1 n:block="title">Žádost o prohlídku</h1>

	<p>Pokud si zaregistrijte žádost o prohlídku a uvolní se termín dle Vašich propozic, bude Vám odeslánna naší adresu odeslán email. Tím se Vaše žádost deaktivuje a budete jí muset znovu obnovit.</p>
	<p>Po uplynutí zadané doby se Vaše žádost automaticky smaže.</p>

	{control visitRequestForm}
{/block}