{block content}

<h1 n:block="title">Zapsání do skupiny</h1>

<p>Pokud se chcete zapsat do skupiny, musíte vyplnit heslo, které by jste měli dostat od svého trenéra nebo jiné osoby, která prohlídky zařizovala.</p>

{control groupForm}

{/block}