{block head}
{/block}

{block content}

	<h1 n:block="title">Změna hesla</h1>

	<p>Doporučujeme si výchozí heslo změnit na něco, co si sami zvolíte a zapamatujete. Heslo musí mít minimálně 8 znaků.</p>

	{control passwordForm}
{/block}