{block content}
    <h1 n:block="title" id="registrace">Registrace</h1>

    <p>K registraci potřebujeme doplnit několik Vašich osobních údajů. <b>Údaje se týkají vyšetřované osoby!</b></p>

    {control registrationForm}

    <p>Po úspěšném vyplnění formuláře Vám bude na Vámi zadaný e-mail odesláno heslo, pomocí kterého se můžete
    přihlásit a zarezervovat si termín prohlídky.</p>
{/block}