{block content}
    <h1 n:block="title" id="recover-password">Obnova hesla</h1>

    <p>Pokud jste zapomněli svoje přihlašovací heslo, stačí do formuláře níže zadat svůj email, pod kterým jste u nás registrováni
        a na něj Vám přijde nové heslo.</p>

    {control recoverPasswordForm}

    <p></p>
{/block}