{block head}
	<style type="text/css" n:syntax="off">
		.grid table { width: 100%}
		.grid-col-active { text-align: center}
	</style>
{/block}

{block content}

<h1 n:block="title">Žádosti o prohlídku</h1>

	{control volunteerGrid}
{/block}