Dobrý den

Bylo Vám resetováno Vaše heslo.

Vaše nové heslo pro přihlášení je: {$password}

Toto heslo můžete použít pro přihlášení do systému na adrese {link //Reservation:default}

V případě problémů nás neváhejte kontaktovat e-mailem nebo telefonicky.

Děkujeme

--
Centrum sportovní medicíny
FP TUL
Liberec