Dobrý den

Byl jste úspěšně zaregistrován do našeho rezervačního systému pro skupiny, kterých se u nás týkají sportovní prohlídky.

Vaše heslo pro přihlášení je: {$password}

Toto heslo můžete použít pro přihlášení do systému na adrese {link //Reservation:default}

V případě problémů nás neváhejte kontaktovat e-mailem nebo telefonicky.

Děkujeme

--
Centrum sportovní medicíny
FP TUL
Liberec