Dobrý den

Rádi bychom Vás upozornili, že v {$date|date:'%A %d.%m %Y od %H:%M'|lower} máte rezervované vyšetření v
Centru sportovní medicíny v Liberci.

Pokud víte, že se na vyšetření nedostavíte, kontatkujte nás e-mailem nebo telefonicky.

Děkujeme

--
Centrum sportovní medicíny
FP TUL
Liberec