Dobrý den

Rádi bychom Vás upozornili, že v {$date|date:'%A %d.%m %Y od %H:%M'|lower} máte rezervované vyšetření v
Centru sportovní medicíny v Liberci.

Pokud víte, že se na vyšetření nedostavíte, kontatkujte nás odpovědí na tento e-mail, nebo telefonicky na telefonním čísle 734 518 405.

Děkujeme

--
Centrum sportovní medicíny
FP TUL
Liberec